<%= render LinkComponent.new do %>
  <%= link_to @href do %>
    <div class="flex items-center space-x-1">
      <%= render PlusIconComponent.new %>
      <div>
        Add a <%= @text %>
      </div>
    </div>
  <% end %>
<% end %>
