<%= render LinkComponent.new do %>
  <%= link_to @href, data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
  } do %>
    <div class="flex items-center space-x-1">
      <%= render TrashIconComponent.new %>
      <div>
        Delete <%= @text %>
      </div>
    </div>
  <% end %>
<% end %>
