<table class="w-full table-auto">
  <thead>
    <tr>
      <%= header %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <%= row %>
      </tr>
    <% end %>
  </tbody>
</table>
